html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #141414;
  color: white;
  font-family: "Mulish", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: "Vidaloka", serif;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bold {
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 9;
}

.contact__link {
  font-family: "Mulish", sans-serif;
  color: #f2ccb0;
  padding-left: 2em;
}

.hero {
  display: flex;
  margin-left: 200px;
  padding-top: 200px;
  text-align: left;
}

.hero__title {
  font-size: 6em;
  opacity: 0;
  animation: reveal 0.3s ease-out 0.6s forwards;
}

.hero__title em {
  color: #f2ccb0;
}

.hero__title span {
  display: block;
}

.hero__text {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 2em 0 4em;
  width: 70%;
  transform: translateY(-10px);
  opacity: 0;
  animation: up 1s ease-in-out forwards;
  animation-delay: 1s;
}

.hero__link {
  font-family: "Mulish", sans-serif;
  color: #f2ccb0;
  font-size: 1.2em;
  font-weight: lighter;
  animation: up 1s ease-in-out forwards;
  animation-delay: 1.3s;
  opacity: 0;
  border: solid 1px #f2ccb0;
  padding: 1em 2em;
  width: 210px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero__link:hover {
  background-color: #f2ccb0;
  color: #141414;
}

.hero__info {
  flex: 1;
}

.hero__globe {
  flex: 1;
  animation: up 0.9s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  margin-top: -20px;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.hero__info > h2 > span:nth-child(1),
.hero__info > h2 > span:nth-child(2),
.hero__info > h2 > span:nth-child(3) {
  color: #f2ccb0;
  font-style: italic;
}

canvas {
  height: 440px !important;
  width: 440px !important;
}

.brand {
  overflow: hidden;
  animation: up 1s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}

.ants {
  position: relative;
  font-size: 14em;
  line-height: 1;
  margin-top: 1em;
  text-transform: uppercase;
}

.society {
  position: relative;
  font-size: 14em;
  color: #f2ccb0;
  line-height: 1;
  margin-bottom: 1em;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.cases {
  padding: 0 80px;
}
.case {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.case__titleAndClient {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: flex-start;
  margin-bottom: 30px;
}

.case__title {
  width: 100%;
  align-self: flex-start;
  font-family: "Vidaloka";
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 56px;
  color: #f2ccb0;
}

.case__client {
  width: 100%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #f2ccb0;
}

.case__infosAndImg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.case__infos {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
}

.case__titleStack {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-align: left;
  margin: 20px 0 10px 0;
}

.case__stack {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.case__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.case__imgBox {
  display: flex;
  justify-content: flex-end;
}

.inverseTitle {
  align-self: flex-start;
  text-align: left;
}

.inverseBox {
  flex-direction: row-reverse;
  align-items: end;
  justify-content: flex-end;
}

.secondText {
  padding-left: 50px;
}

.two {
  opacity: 0;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(30deg)
    translateX(50%);
}

.three {
  opacity: 0;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
}

.works {
  display: flex;
  align-items: flex-start;
  padding: 6em;
  margin-bottom: 6em;
}

.works__title {
  font-size: 4em;
}

.works__title em {
  color: #f2ccb0;
}

.work {
  flex: 1;
}

.work p,
.work li {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}

.work b {
  color: #f2ccb0;
  line-height: 2.6;
}

.work:first-child {
  flex: 2;
  margin-right: 6em;
}

.works__text {
  padding-top: 1em;
  font-family: "Vidaloka", serif !important;
  font-size: 1.6em;
}

.footer__title {
  text-align: center;
  font-size: 4em;
}

.footer__title em {
  color: #f2ccb0;
}

.footer__svg {
  display: block;
  margin: 2em auto;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

@media (max-width: 1632px) {
  .hero__info {
    flex: 2;
  }
  .hero__title {
    font-size: 5.4em;
  }
}

@media (max-width: 1280px) {
  .hero {
    margin-left: 4em;
  }
  .hero__title {
    font-size: 5em;
  }
  canvas {
    height: 320px !important;
    width: 320px !important;
  }
  .cases__title {
    display: none;
  }
  .footer__title {
    font-size: 2em;
  }
  .contact__link {
    padding: 1em;
  }
  .works {
    flex-direction: column;
  }
  .work {
    padding: 1em 0;
  }
  .one,
  .two,
  .three {
    opacity: 1;
    transform: perspective(1000px) rotateX(5deg) rotateY(2deg) rotateZ(3deg);
  }
}

@media (max-width: 990px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
    padding-top: 2em;
  }
  .header {
    position: relative;
    padding: 1em;
    align-items: flex-start;
  }
  .contact__link {
    font-size: 12px;
    padding-left: 0;
  }
  .hero__title {
    font-size: 2.4em;
    text-align: center;
  }
  .hero__info {
    z-index: 11;
  }
  canvas {
    height: 260px !important;
    width: 260px !important;
  }
  .hero__text {
    font-size: 1em;
    text-align: center;
    margin: 1em auto 2em;
    width: 100%;
    padding: 1em;
    max-width: 500px;
  }
  .hero__link {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
  }
  .hero__globe {
    flex: initial;
    margin-bottom: -80px;
  }
  .ants {
    font-size: 60px;
  }
  .society {
    font-size: 60px;
  }
  .case__title {
    font-size: 2em;
    line-height: 1.5em;
  }
  .cases {
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 4em;
  }
  .case__img {
    width: 450px;
  }
  .footer__title {
    padding: 0 1em;
  }
  .works {
    padding-top: 0;
    padding-left: 2em;
    padding-bottom: 0;
  }
  .works__title {
    font-size: 2.2em;
    margin-bottom: 1em;
  }
  .work:first-child {
    flex: 1;
  }
}

@media (max-width: 415px) {
  .cases {
    width: 340px;
  }
  .case__titleAndClient {
    width: 100%;
  }
  .case__title {
    font-size: 30px;
  }
  .case__infosAndImg {
    flex-direction: column-reverse;
  }
  .case__img {
    margin: 0 auto 20px auto;
  }

  .case__infos {
    margin: 0 auto;
  }
  .secondText {
    padding: 0;
  }
}

@keyframes reveal {
  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
